.line {
    height: 500px;
    background-color: var(--primary-color);
    width: 1px;
    margin: 0 auto;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    position: fixed;
    bottom: 67%;
}

img {
    position: absolute;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    bottom: 50%;
}