.line {
    height: 500px;
    background-color: var(--primary-color);
    width: 1px;
    margin: 0 auto;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
}

img {
    position: relative;
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
}