<ion-content [fullscreen]="true">
  <ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <a>
          1. About
        </a>
        <a>
          2. Experience
        </a>
        <a>
          3. Contact
        </a>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="main-text">
      <h1>Hi, my name is</h1>
      <h2 id="name">Daniel Barroso.</h2>
      <h3>Computer Engineer.</h3>
      <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
    </div>
    <div class="arrow bounce">
      <ion-icon name="chevron-down" size="large" color="primary"></ion-icon>
    </div>
  </div>

  <div style="height: 1000px;">

  </div>

</ion-content>
<div id="links">
  <a><ion-icon name="logo-github"></ion-icon></a>
  <a><ion-icon name="logo-linkedin"></ion-icon></a>
  <div class="line"></div>
</div>