#container {
  text-align: center;
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}


#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#name {
  font-weight: 700;
  font-size: xx-large;
}

#gap {
  width: 100%;
  background-color: white;
  height: 200px;
}

.arrow {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 20px 0;
}

.bounce {
  animation: bounce 5s 4;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}