<ion-content [scrollEvents]="true" (ionScroll)="scrollLine.onScroll($any($event))" [fullscreen]="true">
  <ion-header mode="md" class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <a>
          1. About
        </a>
        <a>
          2. Experience
        </a>
        <a>
          3. Contact
        </a>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="main-text">
      <h1>Hi, my name is</h1>
      <h2 class="big-heading">Daniel Barroso.</h2>
      <h3>Computer Engineer.</h3>
      <p>I've always been passionate about Computer Science, experience as a Web Developer. Developed a Multiplatform
        App based on Flutter dedicated to visualize cryptocurrency markets for my Final Degree Project. I've got
        advanced knowledgement in Linux and Docker microservices. Focused in developing my career as a
        Full Stack Developer and DevOps, due to I consider my self as a person that has knowledge in many fields in
        Computer Systems and Infraestructure. </p>
    </div>
    <div class="arrow bounce">
      <ion-icon name="chevron-down" size="large"></ion-icon>
    </div>
  </div>
  <scroll-line #scrollLine></scroll-line>
</ion-content>
<div id="links">
  <a><ion-icon name="logo-github"></ion-icon></a>
  <a><ion-icon name="logo-linkedin"></ion-icon></a>
  <div class="line"></div>
</div>